# .env.example
# このファイルはGitにコミットします

# PostgreSQL Settings
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=calomeal_db
DATABASE_URL="postgres://user:password@db:5432/calomeal_db?sslmode=disable"